@charset "UTF-8";
/* CSS Document */
/* purple: #D5B6F0
   green: #9AD1CC
   grey: dimgrey
*/
h1 h2 h3 h4{
	font-family: 'Crimson Text', serif;
}
header nav{
	display: flex;
	justify-content: flex-end;
}
header p{
	padding: 20px;
	margin: 0px;
}
.jumbotron{
	display: flex;
	align-items: center;
	background-image: url("../images/pancakes.jpg");
	background-size: cover;
	height: 500px;
	color: white;
}
nav{
	background: #9AD1CC;
}
.nav-link {
	color: #D5B6F0;
}
.nav-link:hover {
	color: black;
 }
.navbar-brand {
	color: #D5B6F0;
}
header{
	color: #9AD1CC;
}
.card{
	background: #D5B6F0;
}
.card-deck{
	background: #9AD1CC;
}
.card-text{	
	font-family: 'Crimson Text', serif;
}
.footer {
  background: #9AD1CC;
  padding: 10px 0;
}
.footer a {
  color: dimgrey;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid dimgrey;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid dimgrey;
}
.footer a:hover {
  color: white;
}
