@charset "UTF-8";
/* CSS Document */
/* purple: #D5B6F0
   green: #9AD1CC
   grey: dimgrey
*/
h1 h2 h3 h4{
	font-family: 'Crimson Text', serif;
}
header nav{
	display: flex;
	justify-content: flex-end;
}
header p{
	padding: 20px;
	margin: 0px;
}
header{
	background-color: dimgrey;
}
.jumbotron{
	display: flex;
	align-items: center;
	background-image: url("../images/pancakes.jpg");
	background-size: cover;
	height: 500px;
	color: white;
}
nav{
	background: #9AD1CC;
}
.nav-link {
	color: #D5B6F0;
}
.nav-link:hover {
	color: black;
 }
.navbar-brand {
	color: #D5B6F0;
}
header{
	color: #9AD1CC;
}
form{
	background: #9AD1CC;
}
button{
	color: dimgrey;
}
.container-recipes{
	background: #D5B6F0;
	margin: 20px;
}
.container-contact{
	border-radius: 5px;
	padding: 20px;
}
.footer {
  background: #9AD1CC;
  padding: 10px 0;
}
.footer a {
  color: dimgrey;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid dimgrey;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid dimgrey;
}
.footer a:hover {
  color: white;
}
.card{
	background: #D5B6F0;
}
.card-deck{
	background: #9AD1CC;
	margin-left: auto;
	margin-right: auto;
}
.card-text{	
	font-family: 'Crimson Text', serif;
}
.social-icons a{
	display: inline-block;
	list-style-type: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.social-icons li img{
	width: 25px;
	height: 25px;
	margin-right: 20px;
}
.social-icons{
	text-align: center;
}
.social-icons li a{
	border-bottom: none;
}
body{
	color: dimgrey;
	background-color: #9AD1CC;
}
.container{
	margin-top: 30px;
	margin-bottom: 30px;
}
.carousel img{
	max-width: 1000px
}
.carousel-inner img{
	margin: auto;
}
h2{
	text-align: center;
}